.wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main";

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  margin: auto;
  max-width: 1300px;
  padding: 15px;
}

@media (min-width: 34em) {
  .wrapper {
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header header"
      "filter main main";
  }
}

header {
  grid-area: header;
}

@media (min-width: 34em) {
  filter {
    grid-area: filter;
    padding-left: 11px;
  }
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 34em) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 60em) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

main div {
  position: relative;
  cursor: pointer;
}

main .loading-movies {
  height: 160px;
  margin: 0 5px;
  color: #bfb0b0;
  text-align: center;
  padding-top: 40px;
}

main img {
  width: 100%;
  border: 5px solid #fff;
}

main .badge {
  margin-left: 2px;
}
