.movie-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 8px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/*Medium Grid*/
@media (min-width: 34em) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*Large Grid*/
@media (min-width: 60em) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.movie-grid div {
  position: relative;
  cursor: pointer;
}

.movie-grid img {
  width: 100%;
  border: 5px solid #fff;
}
